@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

main {
    display: flex;
}

aside {
    background-color: #e3e3e3;
    border-radius: 0px 25px 25px 0px;
    margin-top: 20px;
    width: 60px;
    height: 400px;
    text-align: center;
    padding: 5px;
}

.link {
    margin-top: 10px;
}

.sections {
    width: 100%;
    margin-right: 40px;
}

.section_text {
    margin: 10px 20px;
}

.section1{
    display: flex;
    background-color: #e3e3e3;
    border-radius: 25px 25px 25px 25px;
    margin: 20px;
    width: 100%;
    height: 400px;
}

.content {
    display: flex;
}

.content_item {
    margin: 15px;
}

.avatar {
    width: 200px;
    border-radius: 25px 25px 25px 25px;
}

.change_avatar a {
    color: #2e81ce;
    font-size: 22px;
    
}

.change_avatar a:hover {
    color: #2468a8;
}

.logout a {
    color: #e65d5d;
    font-size: 20px;
}

.logout a:hover {
    color: #f81d1d;
}

.admin_panel a {
    color: #96d87c;
    font-size: 20px;
}

.admin_panel a:hover {
    color: #6ef85b;
}

.add_friends {
    color: #96d87c;
    font-size: 25px;
}

.add_friends a {
    color: #96d87c;
    font-size: 20px;
}

.add_friends a:hover {
    color: #6ef85b;
}

.section2{
    background-color: #e3e3e3;
    border-radius: 25px 25px 25px 25px;
    margin: 5px 20px;
    width: 100%;
    min-height: 280px;
    padding: 10px;
}

.comments_avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

.comments {
    display: flex;
    background-color: #d3d3d3;
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
}

.admin_comment {
    color: #398edd;
}

.buy_vip {
    color: #e6d226;
    font-size: 20px;
}

.buy_vip:hover {
    color: #eeda25;
    font-size: 20px;
    cursor: pointer;
}

.change_color {
    font-size: 20px;
    color: #5e1774;
}

.change_color:hover {
    color: #2f053b;
    font-size: 20px;
    cursor: pointer;
}

.commentss {
    align-items: center;
    display: flex;
    margin-top: 5px;
}

.textarea_div {
    align-items: center;
    display: flex;
}

.textarea {
    background-color: #ececec;
    color: #535353;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    overflow: auto;
    resize: none;
    width: 500px;
}

input[type = "submit"] {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    border-radius: 15px;
    cursor: pointer;
    width: 90px;
    text-align: center;
    display: flex;
}

.del {
    margin-left: auto; 
    margin-right: 0;

}

.del a {
    color: #e65d5d;
    cursor: pointer;
}

.del a:hover {
    color: #f81d1d;
}